* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(100 104 118);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(229, 231, 237);
}

header {
  position: fixed;
  z-index: 1;
  height: 80px;
  min-width: 250px;
  position: fixed;
  width: 100%;
  background-color: rgb(229, 231, 237);
  border-radius: 15px;
  transition: all 0.5 ease;
}

header,
header .nav_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.active {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.37);
}

.nav_list {
  padding-right: 20px;
}

.head-top {
  width: 100vw;
  background-color: rgb(229, 231, 237);
  border-radius: 15px;
}

.logo {
  width: 57px;
}

.logo-container {
  width: 57px;
  border-radius: 150px;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px #fff;
  margin: 10px 0 10px 20px;
}

.logo-container:hover {
  box-shadow: inset 5px 5px 10px #cbced1, inset -5px -5px 10px #fff;
}

.item {
  padding: 10px;
  list-style: none;
}

.item a {
  text-decoration: none;
  padding: 10px 25px;
  font-weight: 300;
  position: relative;
  color: rgb(56, 55, 55);
  background-color: rgb(229, 231, 237);
  font-size: 1.3rem;
  border-radius: 15px;
  -webkit-box-shadow: 7px 7px 14px #cbced1, -7px -7px 14px #fff;
  box-shadow: 7px 7px 14px #cbced1, -7px -7px 14px #fff;
  width: 120px;
  height: 40px;
  cursor: pointer;
}
.item a:hover {
  box-shadow: inset 5px 5px 10px #cbced1, inset -5px -5px 10px #fff;
}

.toggle-button {
  position: fixed;
  right: 16px;
  top: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 20px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
  box-shadow: 7px 7px 14px #cbced1, -7px -7px 14px #fff;
}

.toggle-button:hover {
  box-shadow: inset 5px 5px 10px #cbced1, inset -5px -5px 10px #fff;
  transition: all 0.3s ease;
}

.toggle-item {
  background-color: black;
  -webkit-text-fill-color: transparent;
  height: 2px;
  width: 30px;
  transition: all 0.3s ease;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }

  nav {
    position: relative;
    top: -420px;
    z-index: -1;
    transition: all 0.7s ease;
    background-color: rgb(229, 231, 237);
    width: 100vw;
    border-radius: 15px;
  }

  nav.active {
    display: block;
    top: 0px;
  }

  nav .nav_list {
    display: flex;
    flex-direction: column;
    padding-right: 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.37);
    background-color: rgb(229, 231, 237);
  }

  .item {
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .item:last-child {
    margin-bottom: 50px;
  }

  .toggle-button {
    display: flex;
  }

  .toggle-button.active .toggle-item:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .toggle-button.active .toggle-item:nth-child(2) {
    opacity: 0;
  }

  .toggle-button.active .toggle-item:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  .logo-container {
    margin: 10px auto;
  }
}
