* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(100 104 118);
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(229, 231, 237);
}

/* Header style */

header {
  position: fixed;
  z-index: 1;
  height: 80px;
  min-width: 250px;
  position: fixed;
  width: 100%;
  background-color: rgb(229, 231, 237);
  border-radius: 15px;
  transition: all 0.5 ease;
}

header,
header .nav_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.active {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.37);
}

.nav_list {
  padding-right: 20px;
}

.head-top {
  width: 100vw;
  background-color: rgb(229, 231, 237);
  border-radius: 15px;
}

.logo {
  width: 57px;
}

.logo-container {
  width: 57px;
  border-radius: 150px;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px #fff;
  margin: 10px 0 10px 20px;
}

.logo-container:hover {
  box-shadow: inset 5px 5px 10px #cbced1, inset -5px -5px 10px #fff;
}

.item {
  padding: 10px;
  list-style: none;
}

.item a {
  text-decoration: none;
  padding: 7px 25px;
  font-weight: 300;
  position: relative;
  color: rgb(56, 55, 55);
  background-color: rgb(229, 231, 237);
  font-size: 1.3rem;
  border-radius: 15px;
  -webkit-box-shadow: 7px 7px 14px #cbced1, -7px -7px 14px #fff;
  box-shadow: 7px 7px 14px #cbced1, -7px -7px 14px #fff;
  width: 120px;
  height: 40px;
  cursor: pointer;
}

.item a:hover {
  box-shadow: inset 5px 5px 10px #cbced1, inset -5px -5px 10px #fff;
}

.toggle-button {
  position: fixed;
  right: 16px;
  top: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 20px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
  box-shadow: 7px 7px 14px #cbced1, -7px -7px 14px #fff;
}

.toggle-button:hover {
  box-shadow: inset 5px 5px 10px #cbced1, inset -5px -5px 10px #fff;
}

.toggle-item {
  background-color: black;
  -webkit-text-fill-color: transparent;
  height: 2px;
  width: 30px;
  transition: all 0.3s ease;
}

/* Herro Section style */

.hero-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0px 100px 0px 100px;
}

.container {
  position: relative;
  top: 130px;
  height: 800px;
  width: 100%;
  border-radius: 95px;
  box-shadow: 7px 7px 14px #cbced1, -7px -7px 14px #fff;
}

.container:last-child {
  margin-bottom: 50px;
}

.self-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 25px;
  margin: auto;
  width: 280px;
  height: 280px;
  background: #eef0f4;
  border-radius: 100%;
  box-shadow: inset 16.52px 16.52px 27px #a1a2a5,
    inset -16.52px -16.52px 27px #ffffff;
}

.name-container {
  position: relative;
  top: 45px;
  margin: auto;
  height: 5px;
  width: 300px;
  background-color: #e6e7ee;
  padding: 23px;
  resize: none;
  line-height: 25px;
  font-size: 1.2rem;
  border-radius: 20px;
  -webkit-box-shadow: inset 5px 5px 10px #cbced1, inset -5px -5px 10px #fff;
  box-shadow: inset 5px 5px 10px #cbced1, inset -5px -5px 10px #fff;
  -ms-overflow-style: none;
}

.name {
  text-align: center;
  font-weight: 300;
  position: relative;
  bottom: 12px;
  color: rgb(56, 55, 55);
}

.self-img {
  position: relative;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border: 5px solid rgb(229, 231, 237);
  background: linear-gradient(145deg, #ffffff, #cbcdd0);
  border-radius: 100%;
  box-shadow: 29.73px 29.73px 54px #c4c6c9, -29.73px -29.73px 54px #ffffff;
}

.main-content {
  position: relative;
  top: 80px;
  margin: auto;
  height: 300px;
  width: 300px;
  background-color: #e6e7ee;
  padding: 25px;
  resize: none;
  line-height: 25px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-radius: 20px;
  -webkit-box-shadow: inset 5px 5px 10px #cbced1, inset -5px -5px 10px #fff;
  box-shadow: inset 5px 5px 10px #cbced1, inset -5px -5px 10px #fff;
  -ms-overflow-style: none;
}

.main-container {
  display: flex;
  justify-content: space-around;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: rgb(229, 231, 237);
  border-radius: 15%;
  box-shadow: 7px 7px 14px #cbced1, -7px -7px 14px #fff;
  cursor: pointer;
}

.icon-container:hover {
  box-shadow: inset 5px 5px 10px #cbced1, inset -5px -5px 10px #fff;
}

.phone-svg {
  position: relative;
  width: 38px;
  height: 38px;
  opacity: 0.8;
}

.git-svg {
  position: relative;
  width: 38px;
  height: 38px;
  opacity: 0.8;
}
.mail-svg {
  position: relative;
  width: 46px;
  height: 46px;
  opacity: 0.8;
}

#skills {
  margin: 25px 0;
  text-align: center;
  font-weight: 400;
  color: rgb(56, 55, 55);
}

.skills-first-box,
.skills-second-box {
  display: flex;
  justify-content: space-around;
}

.skills-third-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#html,
#css,
#js,
#react {
  border-radius: 15px;
  -webkit-box-shadow: 7px 7px 14px #cbced1, -7px -7px 14px #fff;
  box-shadow: 7px 7px 14px #cbced1, -7px -7px 14px #fff;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  text-align: center;
  width: 120px;
  height: 20px;
  padding: 7px 0;
  margin-bottom: 15px;
}

#b-strap,
#sc {
  border-radius: 15px;
  -webkit-box-shadow: 7px 7px 14px #cbced1, -7px -7px 14px #fff;
  box-shadow: 7px 7px 14px #cbced1, -7px -7px 14px #fff;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  text-align: center;
  width: 270px;
  height: 20px;
  padding: 7px 0;
  margin-bottom: 15px;
}

h4 {
  position: relative;
  font-weight: 400;
  bottom: 3px;
}

.typing-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 80px;
  margin: auto;
  padding: 25px;
  width: 80%;
  height: 250px;
  line-height: 25px;
  font-size: 1.2rem;
  border-radius: 20px;
  -webkit-box-shadow: inset 5px 5px 10px #cbced1, inset -5px -5px 10px #fff;
  box-shadow: inset 5px 5px 10px #cbced1, inset -5px -5px 10px #fff;
}

.typing-content {
  line-height: 50px;
  text-align: center;
}

.typing-content a {
  cursor: default;
}

.bio-external-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 80px;
  margin: auto;
  width: 80%;
  height: 370px;
  background-color: #e6e7ee;
  padding-top: 25px;
}

.bio-text-content {
  margin-top: 20px;
  text-align: justify;
  font-weight: 300;
}

#bio {
  text-align: center;
  font-weight: 300;
  color: rgb(100 104 118);
}

.cv {
  position: relative;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  margin: auto;
  border: none;
  outline: none;
  font-weight: 300;
  color: rgb(56, 55, 55);
  font-size: 1.3rem;
  border-radius: 20px;
  -webkit-box-shadow: 7px 7px 14px #cbced1, -7px -7px 14px #fff;
  box-shadow: 7px 7px 14px #cbced1, -7px -7px 14px #fff;
  width: 180px;
  cursor: pointer;
}

.cv:hover {
  box-shadow: inset 5px 5px 10px #cbced1, inset -5px -5px 10px #fff;
}
/* Project section style */
.projects-container {
  position: relative;
  margin: 150px 100px 50px 100px;
  text-align: center;
  border-radius: 25px;
  box-shadow: 7px 7px 14px #cbced1, -7px -7px 14px #fff;
  padding: 25px;
}

.project {
  font-size: 10rem;
  color: rgb(100 104 118);
  text-shadow: 2px 2px 2px #fff, -2px -2px 2px #cbced1;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-text-stroke: 1px rgba(60, 59, 59, 0.067);
  letter-spacing: 10px;
}

hr {
  border-radius: 30px;
  margin: 20px auto;
  background: rgb(219, 220, 223);
  height: 5px;
  width: 55vw;
  box-shadow: 2px 2px 2px #fff, -2px -2px 2px #cbced1;
  opacity: 0.4;
}

.frontend-title {
  padding-top: 90px;
}

.frontend-title,
.video-title {
  font-size: 5rem;
  color: rgb(100 104 118);
  text-shadow: 2px 2px 2px #fff, -2px -2px 2px #cbced1;
  font-weight: 500;
  margin: 75px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
}

#onewheel,
#dance,
#fitness,
#business,
#quiz,
#space-ship,
#bruderbau,
#tourist {
  position: relative;
  width: 96%;
  height: 96%;
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  top: 2px;
}
#onewheel:hover,
#dance:hover,
#fitness:hover,
#business:hover,
#quiz:hover,
#space-ship:hover,
#bruderbau:hover,
#tourist:hover {
  transform: scale(1.3);
}

.img-container {
  position: relative;
  width: 102%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background: rgb(219, 220, 223);
  border-radius: 10px;
  box-shadow: 7px 7px 14px #cbced1, -7px -7px 14px #fff;
  overflow: hidden;
}

.video-container,
.frontend-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 100px;
}

/* Services section style */
.services {
  position: relative;
  font-size: 10rem;
  color: rgb(100 104 118);
  text-shadow: 3px 3px 10px #cbced1, -3px -3px 10px #fff;
  font-weight: 500;
  margin-top: 100px;
  margin-bottom: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-text-stroke: 1px rgba(60, 59, 59, 0.067);
  text-align: center;
  letter-spacing: 10px;
  top: 80px;
}

.services-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 200px 100px 0px 100px;
}

.services-inner-container {
  position: relative;
  height: 800px;
  width: 100%;
  border-radius: 95px;
  box-shadow: 7px 7px 14px #cbced1, -7px -7px 14px #fff;
  margin-bottom: 50px;
}

.services-png-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 80px;
  margin: auto;
  width: 80%;
  height: 300px;
  padding: 25px;
  resize: none;
  line-height: 25px;
  font-size: 1.2rem;
  border-radius: 20px;
}

.services-secondary-container {
  height: 300px;
  text-align: center;
  margin: 40px;
}

#web-dev {
  position: relative;
  bottom: 35px;
  width: 240px;
  opacity: 0.6;
}

#video {
  position: relative;
  width: 300px;
  left: 25px;
}

#web-title,
#video-title {
  margin: 80px 0 40px 0;
  color: rgb(100, 104, 118);
}

.web-text,
.video-text {
  margin: auto;
  text-align: justify;
  width: 300px;
}



@media (max-width: 700px) {
  header {
    flex-direction: column;
  }

  nav {
    position: relative;
    top: -420px;
    z-index: -1;
    transition: all 0.7s ease;
    background-color: rgb(229, 231, 237);
    width: 100vw;
    border-radius: 15px;
  }

  nav.active {
    display: block;
    top: 0px;
  }

  nav .nav_list {
    display: flex;
    flex-direction: column;
    padding-right: 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.37);
    background-color: rgb(229, 231, 237);
  }

  .item {
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .item:last-child {
    margin-bottom: 50px;
  }

  .toggle-button {
    display: flex;
  }

  .toggle-button.active .toggle-item:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .toggle-button.active .toggle-item:nth-child(2) {
    opacity: 0;
  }

  .toggle-button.active .toggle-item:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  .logo-container {
    margin: 10px auto;
  }
}
